body {
  background: navy;
  font: 500 1em/1.4 $primary-font;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

h1 {
  @include animation(title-intro 6s ease both);
  color: white;
  font: 800 8vh/1 $primary-font;
  @include position(absolute, 44vh 0px 0 0px);
  text-align: center;
  text-transform: uppercase;
  @include user-select(none);
  z-index: 2;
}

.description-texts {

}

.description-text {
  color: white;
  display: none;

  &.active {
    display: block;
  }
}

.map {
  @include animation(map-intro 5s both);
  @include animation-delay(1s);
  display: block;
  height: 120vh;
  @include position(absolute, 0px 0px 0px 0px);
  z-index: 1;

  polygon {
    cursor: pointer;
  }
}

