body {
  background: $water-color;
  font: 500 1em/1.4 $primary-font;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

.title {
  align-items: center;
  @include animation(title-intro 5s ease both);
  display: flex;
  @include position(absolute, 0px 0px 0px 0px);
  @include user-select(none);
  z-index: 2;

  h1 {
    color: white;
    font: 800 5vh/1.4 $primary-font;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  span {
    display: block;
    font-weight: 100;
  }
}

.harbor-marker {
  color: rgba(255, 255, 255, .3);
  font-size: 7vh;
  letter-spacing: 3px;
  line-height: 1;
  margin: 0;
  @include position(absolute, 46.5vh 10vw 0 0);
  text-transform: uppercase;
  @include user-select(none);
  z-index: 1;
}

.current-year {
  color: rgb(255, 255, 255);
  font-size: 30vh;
  letter-spacing: 3px;
  line-height: 1;
  margin: 0;
  @include position(absolute, 35vh 0 0 0);
  text-align: center;
  text-transform: uppercase;
  @include user-select(none);
  width: 100%;
  z-index: 3;

  &.active {
    @include animation(current-year $timeline-duration ease both);
  }

  span {
    @include position(absolute, 0 0 0 0px);
    opacity: 0;
    width: 100%;
  }
}

.time-marker {
  background: rgb(255, 255, 255);
  height: 30vh;
  @include position(absolute, 0px 0 0 0px);
  width: 2px;
  z-index: 1;

  &.active {
    @include animation(time-marker $timeline-duration linear both);
  }
}

.intro {
  align-items: center;
  @include animation(intro-intro 3s ease both);
  @include animation-delay(4.5s);
  color: white;
  display: flex;
  font-size:  $graph-font-size;
  margin: auto;
  @include position(absolute, 0px 0px 0px 0px);
  @include transition(1s);
  width: 60%;
  z-index: 3;

  &.inactive {
    display: none;
    opacity: 0;
    z-index: -1;
  }

  .end-intro {
    background: #307466;
    border-radius: 3px;
    color: white;
    display: block;
    margin: 6vh auto 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 40%;
  }
}

.graph-key {
  @include position(absolute, 0px 0px 0 0px);
  @include transition(.3s);
  z-index: 1;

  &.inactive {
    opacity: 0;
  }

  .beginning {
    float: left;
  }

  .end {
    float: right;
  }

  p {
    color: white;
    font: bold #{$graph-font-size}/#{$graph-font-height} $primary-font;
    margin: 0;
    padding: 0 .5rem;
  }
}

.graph {
  opacity: 0;
  @include position(absolute, 0px 0px 0 0px);
  z-index: 2;

  &.active {
    @include animation(fade-in 1s ease both);
    @include animation-delay(.75s);
  }

  .year {
    @include box-sizing(border-box);
    color: white;
    cursor: pointer;
    font-size: $graph-font-size;
    height: $graph-font-height;
    padding: 0;
    @include position(absolute, 0 0 0 0);
    @include transform(scale(1));
    @include transition(.3s ease);
    @include user-select(none);
    z-index: 2;

    &:after {
      background: #8D7B52;
      content: '';
      height: 5vh;
      opacity: 0.2;
      @include position(absolute, 0px 0 0 100%);
      width: 10000%;
    }

    @for $timeline-item from 0 through 6 {
      &:nth-child(#{$timeline-item+1}) {
        top: $graph-font-height * $timeline-item;
        $timeline-item-color-multiplier: ($timeline-item+2) + $color-wheel-rotation;
        background: hsl($timeline-item-color-multiplier*$color-wheel-difference, $saturation, $lightness);
      }
    }

    &.hint {
      background: #fff;
    }

    &.inactive {
      opacity: 0;
    }

    &.active {
      cursor: default;
      height: 100vh;
      left: 50% !important;
      padding: $graph-font-height;
      @include position(absolute, 0px 0 0 0);
      @include user-select(all);
      width: 50% !important;
      z-index: 4;

      h2 {
        left: 0;
        text-align: left;
        width: auto;
        margin: 0;
      }

      .desc {
        display: block;
        opacity: 1;

        h3 {
          font-size: $graph-font-size * 2.5;
          margin: 0 0 .5em;
        }

        article {
          font-size: $graph-font-size;
          height: 60vh;
          overflow-y: scroll;

          p {
            margin-top: 0;
          }

          .overlay-map {
            box-sizing: border-box;
            font-size: 2vh;
            color: #8D7B52;
            left: -95%;
            position: absolute;
            top: 5%;
            width: 90%;
          }

          img {
            left: -90%;
            opacity: 0;
            position: absolute;
            top: 10%;
            @include transform(scale(0));
            @include transition(.3s);
            width: 80%;

            &.active {
              @include transform(scale(1));
              opacity: 1;
            }
          }
        }
      }
    }

    h2 {
      @include box-sizing(border-box);
      font: bold #{$graph-font-size}/#{$graph-font-height} $primary-font;
      margin: 0;
      padding-right: .5rem;
      @include position(relative, 0 0 0 -200px);
      text-align: right;
      @include transition(.3s);
      width: 200px;
    }

    .desc {
      display: none;
      opacity: 0;
      @include transition(.3s ease);

      .cite a {
        color: #eee;
      }

      .close {
        background: rgba(0, 0, 0, .2);
        color: white;
        padding: $graph-font-height;
        @include position(absolute, 0 0px 0px 0px);
        text-decoration: none;
      }
    }
  }
}


.map {
  display: block;
  max-height: 85vh;
  max-width: 45vw;
  @include position(absolute, 0 0 0px 0px);
  @include transform(scale(50) translateX(20%));
  z-index: 1;

  &.active {
    @include animation(map-intro 1s ease both);

    .westcove, .millpond, .southcove, .greatcove, .southend, .backbay {
      @include animation(fade-in 1s ease both); 
    }

    .westcove {
      $beginning-year-percent: .4675;
      @include animation-delay($beginning-year-percent * $timeline-duration);
    }

    .millpond {
      $beginning-year-percent: .4783;
      @include animation-delay($beginning-year-percent * $timeline-duration);
    }

    .southcove {
      $beginning-year-percent: .5405;
      @include animation-delay($beginning-year-percent * $timeline-duration);
    }

    .greatcove {
      $beginning-year-percent: .5486;
      @include animation-delay($beginning-year-percent * $timeline-duration);
    }

    .southend {
      $beginning-year-percent: .5675;
      @include animation-delay($beginning-year-percent * $timeline-duration);
    }

    .backbay {
      $beginning-year-percent: .6135;
      @include animation-delay($beginning-year-percent * $timeline-duration);
    }

    @for $path from 1 through 4 {
      .water path:nth-child(#{$path}) {
        $delay: (.68 * $timeline-duration) + (($path - 1) / 3);
        @include animation(fade-in-partial 3s ease both);
        @include animation-delay($delay);
      }
    }
  }

  .land path {
    cursor: pointer;
    @include transition(.3s);

    &[hint=hint], &[active=active] {
      fill: white !important;
    }
  }

  .land path.original {
    cursor: default;
  }

  @for $path from 1 through 7 {
    .land path:nth-child(#{$path}) {
      $path-color-multiplier: $path + $color-wheel-rotation;
      fill: hsl($path-color-multiplier*$color-wheel-difference, $saturation, $lightness);
    }
  }
}

