@include keyframes(title-intro) {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  99% {
    display: block;
    z-index: 2;
  }

  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

@include keyframes(intro-intro) {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    display: block;
    z-index: 2;
  }
}

@include keyframes(graph-intro) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(pulse) {
  0% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(map-intro) {
  0% {
    @include transform(scale(50) translateX(20%));
  }

  10% {
    @include transform(scale(50) translateX(10%));
  }

  100% {
    @include transform(scale(1) translateX(0%));
  }
}
