$primary-font: Helvetica, sans-serif;

$graph-font-size: 3vh;
$graph-font-height: 5vh;

$color-wheel-rotation: 3;
$color-wheel-difference: 10;
$saturation: 50%;
$lightness: 65%;

$water-color: #F7E1B0;
