%h1
  Boston's Topographic History
  %span 1630–2000

.description-texts
  .description-text{ 'data-year' => '1770' }
    %p Boston was originally a small bulb of land surrounded by salt marshes, connected to the mainland by a thin neck. John Winthrop settled the isthmus with just a few hundred people.
  .description-text{ 'data-year' => '1885' }
    %p By the 1800s, Boston had a lot of landfill, etc.

= partial 'rough-vector'
