%h1
  Boston's Topographic History
  %span 1630–2000

.intro
  %p Boston was originally a small, hilly bulb of land surrounded by salt marshes, connected to the mainland by a thin neck. John Winthrop settled the isthmus in 1630 with just a few hundred people. Over the course of the next few decades, The Great Migration carried tens of thousands from Europe to New England, and eventually the city felt the need to expand. Many of the alcoves which created natural harbors for Boston were shallow, and in the late 1700s, Boston began filling them in. Over the course of more than 100 years and almost ten seperate projects, Boston more than tripled its area.

.graph
  .year{ 'data-year' => '1803', 'data-duration' => '60', 'data-name' => 'westcove' }
    %h2
      1803&#8212;1863
      %span West Cove
    .desc
      %p West Cove desription
  .year{ 'data-year' => '1806', 'data-duration' => '37', 'data-name' => 'southcove' }
    %h2
      1806&#8212;1843
      %span South Cove
    .desc
      %p South Cove desription
  .year{ 'data-year' => '1807', 'data-duration' => '22', 'data-name' => 'millpond' }
    %h2
      1807&#8212;1829
      %span Mill Pond
    .desc
      %p Mill Pond had been dammed and milled since the first wave of settlers. By the late 1700s, the water had become stagnant and smelly due to trash dumping from the mill. This was Boston's first landfill project — before trains, before steam shovels, before steel supports. Workers cut down the hills of Beacon Hill and moved that soil into the artificial pond — after more than 20 years of continuous work, it was filled.
  .year{ 'data-year' => '1823', 'data-duration' => '51', 'data-name' => 'greatcove' }
    %h2
      1823&#8212;1874
      %span Great Cove
    .desc
      %p Great Cove desription
  .year{ 'data-year' => '1830', 'data-duration' => '40', 'data-name' => 'southend' }
    %h2
      1830&#8212;1870
      %span South End
    .desc
      %p South End desription
  .year{ 'data-year' => '1857', 'data-duration' => '37', 'data-name' => 'backbay' }
    %h2
      1857&#8212;1894
      %span Back Bay
    .desc
      %p Back Bay desription

= partial 'rough-vector'
